/*
- The utils need to have the highest priority in order for them to work.
- Utils allows me to create classes or rules for components I used often. For example: make one class for all buttons on my site.
*/

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px 
    rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px 
    rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

/* 
- Container utility class is important to ensure all the content is properly aligned and responsive *. 
- The moment the viewport is resized, the content will be resized. 
*/



