/*
- The utils need to have the highest priority in order for them to work.
- Utils allows me to create classes or rules for components I used often. For example: make one class for all buttons on my site.
*/

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px 
    rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px 
    rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

/* 
- Container utility class is important to ensure all the content is properly aligned and responsive *. 
- The moment the viewport is resized, the content will be resized. 
*/

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
}


/* 
- Anything out side of the media query paramaters will apply styles as the viewport width increases.
- You start by designing for the smallest screens first.
- As the screen size increases, you use media queries to add or modify styles for larger screens.
- This is reflected in the structure of your media queries, which start from the smallest ("xs") and progress to the largest ("2xl").
- Your setup allows for a responsive design where you can define how your layout and components should adapt as the screen size increases, starting from a mobile layout and scaling up to larger desktop sizes.
*/

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1024px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
